<head>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/script.js"></script>
</head>

<section id="section01" class="demo">
    <h1>SCC Classification </h1>
    <h2>By Nadav Noy</h2>
    <h3>Guided by Dr. Maya Herman</h3>

    <a href="#main"><span></span>Scroll</a>
</section>
<section id="main">
    <a class="headline">SCC Classification by Nadav Noy</a>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">Upload</a>
        <div class="search-container">
            <form action="/search">
                <input type="text" placeholder="Search by patient id or image id" name="search">
                <button type="submit"><i class="fa fa-search">Submit</i></button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row ng-scope">

            <div class="col-md-9 col-md-pull-3">
                <div class="grid-container">
                    {% for item in data %}
                    <div class="grid-item">
                        <a class="image-link" href="/analyze/{{item.id}}"><img class="image"
                                                                               src="data/{{item.image_path}}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>